.container{
    width: 100%;
    background-position: center;
}

.container-hero{
    background-image: url(/assets/backgrounds/landing.jpg)
}



/*----Style second section-----*/
.party{
    background-color: darkorange;
}


.meals>div:nth-child(2){
    background-image: url(/assets/foodtop/breakfast.jpg);
}
.meals>div:nth-child(3){
    background-image: url(/assets/foodtop/lunch.jpg);
}

.meals>div:nth-child(4){
    background-image: url(/assets/foodtop/dinner.jpg);
}



